.main-code-container {
    flex-direction: row;
    /* Alinear los elementos en fila */
}


.contenedor-textarea,
.contenedor-salida {
    display: grid;
    grid-template-columns: auto 1fr;
    /* Columna automática para números de línea, columna flexible para texto */
    gap: 15px;
    /* Espacio entre las columnas */
    height: calc(500vh - 25%);
    padding-top: 25%;
}

.lineas {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    color: #d3ccc9;
    padding-right: 25px;
    padding-left: 50px;
    padding-top: 5em;
    /* Ajustar el valor según la separación deseada */
    text-align: right;
    /* Alineación de los números de línea a la derecha */
}


.lineNumber {
    padding-top: 0.4em;
    padding-bottom: 0.25em;
    display: block;
}


.texto,
.salida {
    width: 100%;
    overflow: hidden;
    border: 15px solid #6e4c3f;
    border-radius: 3cqmax;
    font-size: 35px;
    line-height: 5;
    resize: block;
    background-color: #ffffff;
    color: #333333;
    box-sizing: border-box;
}


.contenedor-textarea,
.contenedor-salida {
    flex: 35;
    margin-right: 100px;
}


.texto:focus {
    outline: none;
    border-color: #b78b6a;
}


.contenedor-salida {
    flex: 2;
    /* Ocupar el espacio disponible */
    margin-right: 55px;
    /* Espacio entre los elementos */
    display: flex;
    flex-direction: column;
    /* Alinear los elementos en columna */
}

.salida {
    flex: 2;
    /* Ocupar todo el espacio disponible en la columna */
    width: 100%;
    box-sizing: border-box;
    /* Incluir el padding y el borde en el ancho */
    cursor: default;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    background-color: var(--letra);
}


.texto {
    font-family: 'Courier New', Courier, monospace;
}

.salida {
    background-color: #fff2e6;
    /* Fondo claro */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Sombra suave */
    color: #333;
    /* Texto oscuro para contraste */
    font-family: Arial, sans-serif;

}

.salida h2 {
    color: #8b4513;
    /* Marrón oscuro para los títulos */
}

.salida p {
    color: #555;
    /* Texto más claro */
}



.contenedor-salida {
    flex: 1;
    /* Ocupar todo el espacio disponible en la columna */
    width: 100%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /* Incluir el padding y el borde en el ancho */
    display: flex;
    background-color: #b78b6a;
    padding: 10px;
    margin-top: 20px;
    flex-direction: column;
    /* Alinear los elementos en columna */
}

.analysis-result {
    margin-top: 20px;
    /* Margen superior para separar de otros elementos */
}

.analysis-result table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    /* Margen inferior para separar de otros elementos */
}

.analysis-result th,
.analysis-result td {
    padding: 10px;
    border: 3px solid #ccc;
    text-align: left;
}

.analysis-result th {
    background-color: #6e4c3f;
    color: #fff;
}

.analysis-result tbody tr:nth-child(even) {
    background-color: #ffd5c1;
}

.analysis-result tbody tr:hover {
    background-color: #995700;
}