.main-code-container{
    display: flex;
    flex-direction: row; /* Alinear los elementos en fila */
}


.contenedor-textarea,
.contenedor-salida{
    display: grid;
    grid-template-columns: auto 1fr; /* Columna automática para números de línea, columna flexible para texto */
    gap: 10px; /* Espacio entre las columnas */
    height: calc(100vh - 12%);
    padding-top: 8%;
}

.lineas {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: #d3ccc9;
    padding-right: 1px;
    padding-left: 10px;
    padding-top: 0.5em; /* Ajustar el valor según la separación deseada */
    text-align: right; /* Alineación de los números de línea a la derecha */
}


.lineNumber{
    padding-top: 0.2em;
    padding-bottom: 0.15em;
    display: block;
}


.texto,
.salida {
    width: 100%;
    overflow: hidden;
    border: 2px solid #6e4c3f;
    border-radius: 1cqmax;
    font-size: 16px;
    line-height: 1.5;
    resize: vertical;
    background-color: #ffffff;
    color: #333333;
    box-sizing: border-box; 
}



.contenedor-textarea,
.contenedor-salida {
    flex: 1; 
    margin-right: 10px; 
}


.texto:focus {
    outline: none;
    border-color: #b78b6a;
}


.contenedor-salida {
    flex: 1; /* Ocupar el espacio disponible */
    margin-right: 50px; /* Espacio entre los elementos */
    display: flex;
    flex-direction: column; /* Alinear los elementos en columna */
}

.salida {
    flex: 1; /* Ocupar todo el espacio disponible en la columna */
    width: 100%;
    box-sizing: border-box; /* Incluir el padding y el borde en el ancho */
    cursor: default;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    background-color: var(--letra);
}


.texto{
    font-family: 'Courier New', Courier, monospace ;
}