:root {
    --color1: #562520;
    --color2: #7b3d2c;
    --color3: #a05528;
    --color4: #b7856e;
    --color5: #ebdbaa;
    --letra: #fcf2e9fa;
}

@font-face {
    font-family: "Wix Madefor Display";
    src: url('../assets/fonts/WixMadeforDisplay-VariableFont_wght.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color1);
}



.logo-container {
    display: flex;
    align-items: center;
    background-color: var(--color4);
    padding: 40px;
    margin: 0;
    padding: 0;
    height: 100%;
}

.header-container{
    width: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    height: 10%;
}

a {
    width: 100px;
    height: auto;
    margin-right: 70px;
}

h1 {
    font-size: 40px;
    font-family: "Wix Madefor Display";
    margin: 0;
}